*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: monospace;
}

nav{
    background:rgb(255, 255, 255);
    height: 70px;
    position: fixed;
}

.angry{
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;

}

nav a{
    text-decoration: none;
    font-size: 16px;
}

.navone{
    display: flex;
    align-items:center;
}

.sqlogo img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.says{
    margin-top: 5px;
    margin-left: 13px;
}

.news{
    background-color: #404e51;
    padding:5px 9px;
    color: white;
    margin-right: 10px;
}

.news:hover{
    background-color: #404e519a;
}

.info{
    background-color: #404E51;
    padding:5px 9px;
    color: white;
    margin-right: 10px;
}

.info:hover{
    background-color: #404e519a;
}

.produ{
    background-color: #404E51;
    padding:5px 9px;
    color: white;
    margin-right: 10px;
}

.produ:hover{
    background-color: #404e519a;
}

.reser{
    background-color: #404E51;
    padding:5px 9px;
    color: white;
    margin-right: 10px;
}

.reser:hover{
    background-color: #404e519a;
}

.common{
    background-color: #404E51;
    padding:5px 9px;
    color: white;
    margin-right: 838px;
}

.common:hover{
    background-color: #404e519a;
}

.connect{
  margin-top: 10px;
}

.line img{
    width: 30px;
    height: 30px;
    
}

.fb img{
    width: 30px;
    height: 30px;
}

.ig img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.run img{
    height: 338px;
    width: 1519px;
    margin-top: 70px;
}

.one{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.textone{
    margin-right: 100px;
    margin-top: 40px;
}

.textonebig{
    width: 500px;
    text-align: center;
    font-weight: bolder;
    color: #404E51;
}

.textonesmall{
    background-color: #404e519a;
    width: 500px;
    height: 200px;
    font-size: 16px;
    color: white;
    text-align:center;
    padding-top: 20px;
    border-radius: 10px;
}

.onephoto img{
    width: 480px;
    height: 360px;
    border-radius: 10px;
    border-right: #404e519a 5px solid;
    border-bottom: #404e519a 5px solid;

}

.two{
    margin-top: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}

.texttwo{
    margin-left: 100px;
    margin-top: 40px;
}

.texttwobig{
    width: 500px;
    text-align: center;
    font-weight: bolder;
    color: #404E51;
}

.texttwosmall{
    background-color: #404e519a;
    width: 500px;
    height: 200px;
    font-size: 16px;
    color: white;
    text-align:center;
    padding-top: 20px;
    border-radius: 10px;
}

.twophoto img{
    width: 480px;
    height: 360px;
    border-radius: 10px;
    border-left: #404e519a 5px solid;
    border-bottom: #404e519a 5px solid;

}

.three{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.textthree{
    margin-right: 100px;
    margin-top: 40px;
}

.textthreebig{
    width: 500px;
    text-align: center;
    font-weight: bolder;
    color: #404E51;
}

.textthreesmall{
    background-color: #404e519a;
    width: 500px;
    height: 200px;
    font-size: 16px;
    color: white;
    text-align:center;
    padding-top: 20px;
    border-radius: 10px;
}

.threephoto img{
    width: 480px;
    height: 360px;
    border-radius: 10px;
    border-right: #404e519a 5px solid;
    border-bottom: #404e519a 5px solid;

}

.foot{
    display: flex;
    align-items: center;/*將內容上下至中*/
    justify-content: center;

    margin-top: 150px;
    background-color: #404E51;
    height: 100px;
    
    font-size: 14px;
    color: white;
}
